{% extends 'base.html' %}

{% load static %}

{% block setting %}active{% endblock %}

{% block title %}
Login | QComp.
{% endblock %}

{% block body %}

<h2 class="page-header">
    Student Login to QComp.
</h2>
<form method="post" action="{% url 'login' %}" class="row g-3 needs-validation" novalidate>
    {% csrf_token %}
    <div class="col-md-8">
        <label for="validationCustom01" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" required>
    </div>
    <div class="col-md-8">
        <label for="validationCustom01" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" required>
    </div>

    <div class="col-8">
        <button class="btn btn-primary" type="submit">Login</button>
    </div>
    <div class="col-8">
        <a href="">Forgot password?</a><br>
        <a href="">Don't have an account?</a>
    </div>
</form>
{% endblock %}
